.newbgcolorSidebar {
    background-color: #0f2d5a !important;
}

.newbgcolorHeader {
    background-color: #134b9d !important;
}

.selectMultiple {
    width: 100% !important;
}

/* Input field */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: black !important;
}

.select2-results__option[aria-selected=true] {
    background-color: #134b9d !important;
    color: white !important;
}

.accordion-button:not(.collapsed) {
    color: #e9e9e9;
    background-color: #134b9d;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button {
    color: #000408;
    /* background-color: #c0314b; */
    border: 1px solid #134b9d;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #aeb3bb !important;
}

.form-select:disabled {
    background-color: #aeb3bb !important;
}

.swal2-popup.swal2-toast {
    background-color: #dbd69c !important;
}

.position-absolute {
    position: absolute;
}

#notificationBox>a:hover {
    background-color: #e7ebf0 !important;
}

.carousel-indicators [data-bs-target] {
    background-color: black !important;
}

.ageGrid {
    margin-left: 1rem;
}

/* @media only screen and (max-width: 600px) {
    .forMobile {
        width: 100% !important;
        margin: auto !important;
    }
} */
@media screen and (max-width: 1024px) {
    .forMobile {
        width: 100% !important;
        margin-left: 0 !important;
    }
}

/* login style */
.bg {
    /* The image used */
    background: linear-gradient(rgba(2, 2, 2, 0.818),
            rgba(0, 0, 0, 0.818)), url("../dist/img/bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* remove check icon in valid inputs */
/* .form-control.is-valid, .was-validated .form-control:valid {
    background-image: none !important;
} */